    {% assign content = article.content | strip_html | truncate: 65, "..." %}
    <div class="article_item">
        <a href="/blogs/{{article.handle}}">
            <div class="article_item-image">
                {% assign imgSRC = article.image.src %}
                {% if imgSRC == null %}
                    <img src="https://cdn.shopify.com/s/files/1/0411/8246/2106/files/Thumb--general-horizontal.jpg?v=1661880212" 
                         alt="makesy logo" 
                    />
                {% else %}
                    <img src={{article.image.src | img_url: '215x' }} alt="article image" />
                {% endif %}
            </div>
            <div class="article-content">
                <p class="article_item_title">{{article.title }}</p>
                <p class="article_desc">{{ content }}</p>
                <p class="article_see_more">read more</p>
            </div>
        </a>
    </div>
