<div class="c-cookie">
    <div class="content-translate">
        <div class="content">
            <h1>Our Cookie Policy</h1>
            <p class="top-text">
                This website uses cookies to improve your experience. We'll assume you're ok with this, but you can
                opt-out if you wish.
            </p>
            <small>We respect your privacy, <span class="select-privacy-policy underline">choose which cookies to
                    accept</span> how.</small>

            <div class="c-privacy-policy">
                <hr>
                <div class="policy-content">
                    <div class="CheckBox" style="pointer-events: none;">
                        <span class="CheckBox__item" aria-disabled="false" style="width: 24px; height: 24px;">
                            <input class="CheckBox__input" type="checkbox" aria-label="make selection">
                            <svg class="CheckBox__svg" viewBox="0 0 32 32" aria-hidden="true" focusable="false"
                                style="width: 24px; height: 24px; pointer-events: none;">
                                <rect x="0.5" y="0.5" class="CheckBox__rect" width="31" height="31"
                                    style="fill: rgb(0, 0, 0);"></rect>
                                <polyline class="CheckBox__checkmark active-check" points="6,17.75 12.67,24.42 26,8.58">
                                </polyline>
                            </svg>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="c-select">
        <span class="select-privacy-policy">Privacy Policy</span>
        <span class="select-ok">OK!</span>
    </div>
</div>