<div class="Maker-pro__upsell">
    <div class="Maker-pro__modal">
        <span class="Maker-pro__close-modal"></span>
        <div class="Maker-pro__content">
            <div class="content-layout">
                <div class="content-layout-left">
                    <img src="https://cdn.shopify.com/s/files/1/0411/8246/2106/products/Makerpro-PDP_800x.png?v=1657225280" alt="">
                </div>
                <div class="content-layout-right">
                    <h2>makerpro membership</h2>
                    <p class="Maker-pro__price">$199/yr.</p>
                    <p class="Maker-pro__description">
                        Take your makin' to the next level! Get access to priority support & 1-on-1 consults, 
                        gift cards to spend at makesy.com, priority same-day processing & more when you become 
                        a <b>makerpro!</b> Sign up for $199/yr. 
                    </p>
                    <a href="https://makesy.com/products/maker-pro-annual-membership" class="Maker-pro-submit">join now</a>
                    <a href="#" class="Maker-pro__viewProduct">full details</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="Maker-pro__underlay"></div>