<!-- 
<div class="ProductItem " style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">
    <div class="ProductItem__Wrapper" style="">
  

  
    <div class="AspectRatio AspectRatio--tall collection-product-image" 
    style="background:url('{{img.url-image}}');background-size:100% 100%;"> 
           
           
        </div>
  
      
  
      <div class="ProductItem__Info ProductItem__Info--center"><div style="display: flex; justify-content: space-between;">
            <h2 class="ProductItem__Title Heading">
              <a href="/collections/shop-wood-wicks/products/wick-sample-kit"></a>
            </h2>
  
         
          </div>
            <div class="ProductItem__PriceList  Heading">
               
               
               
  
                       <span class="ProductItem__Price Price Text--subdued"></span>
                 
  </div></div></div></div>
  
  <style>
      .collection-product-image{
          border-radius:20px;
      }
  .guide-text-title{
  margin-top:-60%;
   
   width:80%;
   margin:auto;
   font-size:32px;
   color:black;
  }
  </style> -->
  