<div class="yotpo-widget-instance" 
  allow-out-of-form="true"
  should-auto-inject="false"
  is-launched="true"
  data-yotpo-instance-id="185779"
  product-handle="{{product.handle}}"
  widget-type="SubscriptionsAddToCartWidget"
  storefront-theme="unknown"
  injection="auto"
  full-format-product-price="{{ product.price | money }}">
</div>
