<div class="PageLayout PageLayout--breakLap">
    <div class="PageLayout__Section m-proDetails">
        <div class="m-proBenefit">
            <div class="e-benefits">
                <p class="e-proTitle e-gcTitle">spend that money, maker!</p>
            </div>
            <hr>
            <div class="m-giftcard">
                <div class="m-gc">
                    <img src="https://cdn.shopify.com/s/files/1/0411/8246/2106/files/account-giftcard.jpg?v=1656088408" alt="giftcard">
                    <div>
                        <p class="e-gcValid">
                            Hey, maker! Don't forget to redeem your monthly gift card, ya makerpro, you ;) We can't wait to see what you create next! 
                            <span class="e-gift">
                                copy code
                                <span class="e-giftCopied">got it!</span>
                            </span>
                        </p>
                        <p class="e-gcUsed">
                            Hey, maker! Congrats on using your monthly gift card! Don't forget to check back in next month!
                        </p>
                        <p class="e-gcInvalid">
                            Check back next month to redeem your gift card.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="m-proBenefit">
            <div class="e-benefits">
                <p class="e-proTitle">schedule a consultation</p>
            </div>
            <hr>
            <p>
                As a makerpro, you have access to one 1-on-1 consultation per month! <a class="e-calModal">Click here to schedule your time</a> and select your topic.
            </p>
        </div>
    </div>
    <div class="PageLayout__Section PageLayout__Section--secondary">
        <div class="m-proBenefit">
            <div class="e-benefits">
                <p class="e-proTitle">makerpro benefits</p><p class="e-proTitle" id="e-daysLeft"></p>
            </div>
            <hr>
            <div class="e-bullet">
                <img src="https://cdn.shopify.com/s/files/1/0411/8246/2106/files/account-i-bullet.png?v=1656698510" alt="bullet">
                <span>same-day processing</span>
            </div>
            <div class="e-bullet">
                <img src="https://cdn.shopify.com/s/files/1/0411/8246/2106/files/account-i-bullet.png?v=1656698510" alt="bullet">
                <span>priority support</span>
            </div>
            <div class="e-bullet">
                <img src="https://cdn.shopify.com/s/files/1/0411/8246/2106/files/account-i-bullet.png?v=1656698510" alt="bullet">
                <span>$120 in redeemable credits annually</span>
            </div>
            <div class="e-bullet">
                <img src="https://cdn.shopify.com/s/files/1/0411/8246/2106/files/account-i-bullet.png?v=1656698510" alt="bullet">
                <span>1-on-1 consultations</span>
            </div>
        </div>
    </div>
</div>