.PDP__mobile {
  width: 100%;
}

@media (min-width: 768px) {
  .PDP__mobile {
    display: none;
  }
}

.PDP__mobile .c-accordian__menu .accordian__menu_items {
  max-width: 420px !important;
  width: 100%;
}

@media (max-width: 910px) {
  .PDP__desktop {
    display: none !important;
  }
}

.PDP__desktop .accordian__menu_items {
  max-width: 630px !important;
  width: 100%;
}

.PDP_container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
  max-width: 1440px;
  display: flow-root;
}

.PDP .c-accordian__menu {
  margin-top: 34px;
}

.PDP .accordian__menu_items {
  border-bottom: 0.5px solid #9E9999;
}

.PDP .accordian__menu_items a {
  color: #b8695b;
  text-decoration: underline;
  /* display: block; */
  -webkit-transition: color .2s ease-in-out,-webkit-text-decoration-color .2s ease-in-out;
  transition: color .2s ease-in-out,-webkit-text-decoration-color .2s ease-in-out;
  transition: color .2s ease-in-out,text-decoration-color .2s ease-in-out;
  transition: color .2s ease-in-out,text-decoration-color .2s ease-in-out,-webkit-text-decoration-color .2s ease-in-out;
}

@media (min-width: 768px) {
  .PDP .accordian__menu_items a {
    font-size: 16px;
  }
}

.PDP .accordian__menu_items a:hover {
  color: #d58778;
  -webkit-text-decoration-color: rgba(213, 135, 120, 0.6);
  text-decoration-color: #d5877899;
}

.PDP .accordian__menu_items .PDP-icon-content a {
  width: 40px;
}

.PDP .accordian__menu_items p, .PDP .accordian__menu_items div {
  margin-bottom: 0;
  font-size: 16px;
}

@media (max-width: 767px) {
  .PDP .accordian__menu_items p, .PDP .accordian__menu_items div {
    font-size: 12px;
  }
}

.PDP .e-notifyBtn {
  display: none;
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
  text-transform: lowercase;
  border-radius: 30px;
  height: 40px;
  color: #111;
  background-color: #ebbaa3;
  line-height: 40px;
  z-index: 50;
}

.PDP .c-notify {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(184, 105, 91, 0.8)), to(rgba(236, 158, 133, 0.8)));
  background: linear-gradient(180deg, rgba(184, 105, 91, 0.8) 0%, rgba(236, 158, 133, 0.8) 100%);
  padding: 29px;
}

.PDP .c-notify .m-notifyContainer {
  position: relative;
  background-color: #fff;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 33px 45px;
  border: 1px solid #888;
  border-radius: 30px;
  max-width: 406px;
  -webkit-box-shadow: 0px 0px 4px rgba(34, 34, 34, 0.1);
          box-shadow: 0px 0px 4px rgba(34, 34, 34, 0.1);
}

@media (max-width: 768px) {
  .PDP .c-notify .m-notifyContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 40px 41px;
  }
}

.PDP .c-notify .m-notifyContainer .e-closeNotify {
  display: inline-block;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
}

.PDP .c-notify .m-notifyContainer .e-closeNotify:hover, .PDP .c-notify .m-notifyContainer .e-closeNotify:focus {
  color: #000;
  text-decoration: none;
}

.PDP .c-notify .m-notifyContainer .e-closeNotify:hover, .PDP .c-notify .m-notifyContainer .e-closeNotify:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.PDP .c-notify .m-notifyContainer .e-notifyTitle {
  font-family: GT-Eesti;
  font-size: 45px;
  color: #D58778;
  line-height: 1;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .PDP .c-notify .m-notifyContainer .e-notifyTitle {
    font-size: 35px;
  }
}

.PDP .c-notify .m-notifyContainer .e-notifyMsg {
  margin-top: 16px;
  margin-bottom: 20px;
}

.PDP .c-notify .m-notifyContainer .e-notifyItemTitle {
  font-family: GT-Eesti;
  font-size: 26px;
  line-height: 1;
  text-transform: lowercase;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .PDP .c-notify .m-notifyContainer .e-notifyItemTitle {
    font-size: 16px;
  }
}

.PDP .c-notify .m-notifyContainer .m-notifyBtns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 21px;
}

.PDP .c-notify .m-notifyContainer .m-notifyBtns button.active {
  background: #FAEDE6;
}

.PDP .c-notify .m-notifyContainer .m-notifyBtns .e-selectEmail {
  width: 100%;
  height: 36px;
  border-radius: 30px 0 0 30px;
  border: 1px solid #9e9999;
  border-right: none;
}

.PDP .c-notify .m-notifyContainer .m-notifyBtns .e-selectText {
  width: 100%;
  height: 36px;
  border-radius: 0 30px 30px 0;
  border: 1px solid #9e9999;
  border-left: none;
}

.PDP .c-notify .m-notifyContainer .e-emailInput {
  width: 100%;
  height: 36px;
  margin-bottom: 21px;
  border-radius: 30px;
  padding: 0 20px;
  border: 1px solid #9e9999;
}

.PDP .c-notify .m-notifyContainer .e-phoneInput {
  display: none;
  width: 100%;
  height: 36px;
  margin-bottom: 21px !important;
  border-radius: 30px;
  padding: 0 50px;
  border: 1px solid #9e9999;
}

.PDP .c-notify .m-notifyContainer .iti--allow-dropdown {
  display: none;
}

.PDP .c-notify .m-notifyContainer .e-notifySend {
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
  text-transform: lowercase;
  border-radius: 30px;
  height: 40px;
  color: #111;
  background-color: #ebbaa3;
  display: block;
  line-height: 40px;
  z-index: 50;
  margin-bottom: 21px;
}

.PDP .c-notify .m-notifyContainer .e-notifySend:disabled {
  background: #F9F7F2;
  color: #9E9999;
}

.PDP .c-notify .m-notifyContainer .e-notifyResult {
  display: none;
  padding: 4px;
  margin: 4px 0 8px;
  text-align: center;
  font-size: 16px;
}

.PDP .c-notify .m-notifyContainer .e-notifyResult.error {
  color: #B8695B;
  font-family: 'Futura-PT-Medium';
}

.PDP .c-notify .m-notifyContainer .e-emailSmall, .PDP .c-notify .m-notifyContainer .e-smsSmall {
  font-size: 12px;
  line-height: 1;
  text-align: center;
}

.PDP .c-notify .m-notifyContainer .e-smsSmall {
  display: none;
}

.PDP_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 75px;
}

@media (max-width: 910px) {
  .PDP_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.PDP_grid .m-dropdown-quantity {
  z-index: auto;
}

.PDP_grid .PDP_grid-left .PDP_grid-items {
  max-width: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

@media (max-width: 910px) {
  .PDP_grid .PDP_grid-left .PDP_grid-items {
    margin: 100px 0 25px;
  }
}

.PDP_grid .PDP_grid-left .PDP_thumbs {
  width: 100%;
  max-width: 118px;
  min-width: 75px;
  margin-right: 29px;
  overflow-y: scroll;
  height: 0px;
  -webkit-transition: height .4s ease;
  transition: height .4s ease;
}

@media (max-width: 490px) {
  .PDP_grid .PDP_grid-left .PDP_thumbs {
    display: none;
  }
}

@media (min-width: 1100px) {
  .PDP_grid .PDP_grid-left .PDP_thumbs {
    max-width: 118px;
  }
}

.PDP_grid .PDP_grid-left .PDP_thumb {
  border-radius: 19%;
  overflow: hidden;
  aspect-ratio: 56/57;
  margin-bottom: 19px;
  cursor: pointer;
}

.PDP_grid .PDP_grid-left .PDP_thumb img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.PDP_grid .PDP_grid-left .PDP_mainImage {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  min-width: 336px;
  width: 100%;
}

.PDP_grid .PDP_grid-left .PDP_mainImage img {
  opacity: 0;
  -webkit-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

.PDP_grid .PDP_grid-left .PDP_mainImage .ProductMetaTitle__PinItIcon {
  position: absolute;
  z-index: 1;
  top: 24px;
  left: 24px;
  width: 30px;
  cursor: pointer;
}

.PDP_grid .PDP_grid-left .PDP_mainImage .e-favBadge {
  position: absolute;
  z-index: 1;
  width: 30px;
  bottom: 24px;
  right: 24px;
  opacity: 1;
}

.PDP_grid .PDP_grid-left .PDP_mainImage .m-wishlistContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 1;
  bottom: 24px;
  right: 24px;
  background: white;
  border: 1px solid #b8695b;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.PDP_grid .PDP_grid-left .fade-in {
  opacity: 1 !important;
}

.PDP_grid .PDP_grid-right {
  min-width: 325px;
  max-width: 420px;
  width: 100%;
}

@media (min-width: 768px) {
  .PDP_grid .PDP_grid-right {
    margin-left: 25px;
  }
}

@media (min-width: 1050px) {
  .PDP_grid .PDP_grid-right {
    margin-left: 100px;
  }
}

.PDP_grid .PDP_grid-right .m-dropdown, .PDP_grid .PDP_grid-right .product-form-size {
  margin-top: 20px;
  margin-bottom: 0;
}

.PDP_grid .PDP_grid-right .m-dropdown.m-dropdown-quantity .menu-list {
  max-height: 220px;
}

.PDP_grid .PDP_grid-right .PDP_heading {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #222;
  width: 100%;
  padding-bottom: 15px;
}

.PDP_grid .PDP_grid-right .PDP_heading > img {
  max-width: 50px;
  position: absolute;
  right: 40px;
}

@media (max-width: 400px) {
  .PDP_grid .PDP_grid-right .PDP_heading > img {
    max-width: 39px;
  }
}

.PDP_grid .PDP_grid-right .PDP_heading .share_flex {
  height: 39px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: inherit;
      -ms-flex-pack: inherit;
          justify-content: inherit;
}

@media (max-width: 910px) {
  .PDP_grid .PDP_grid-right .PDP_heading {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100px;
    padding-right: 8px;
    border-bottom: none;
    width: 95%;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}

.PDP_grid .PDP_grid-right .PDP_heading .PDP_heading-title {
  font-family: GT-Eesti;
  font-size: 26px;
  line-height: 30px;
  text-transform: lowercase;
  margin-bottom: 0;
}

@media (min-width: 911px) {
  .PDP_grid .PDP_grid-right .PDP_heading .PDP_heading-title {
    max-width: 320px;
  }
}

@media (max-width: 500px) {
  .PDP_grid .PDP_grid-right .PDP_heading .PDP_heading-title {
    max-width: 290px;
  }
}

@media (max-width: 767px) {
  .PDP_grid .PDP_grid-right .PDP_heading .PDP_heading-title {
    padding-right: 10px;
  }
}

.PDP_grid .PDP_grid-right .PDP_heading .e-productTitleIcon {
  max-width: 50px;
}

.PDP_grid .PDP_grid-right .PDP_price {
  font-family: "Futura-PT-Medium";
  font-size: 18px;
}

@media (max-width: 600px) {
  .PDP_grid .PDP_grid-right .PDP_price {
    font-size: 12px;
  }
}

.PDP_grid .PDP_grid-right .PDP_inventory {
  font-size: 16px;
}

@media (max-width: 600px) {
  .PDP_grid .PDP_grid-right .PDP_inventory {
    font-size: 12px;
  }
}

.PDP_grid .PDP_grid-right .PDP_reviewLink {
  font-family: "Futura-PT-Medium";
  font-size: 16px;
  text-decoration: underline;
}

.PDP_grid .PDP_grid-right .PDP_stockReviewLink {
  display: none;
  font-family: "Futura-PT-Medium";
  font-size: 16px;
  text-decoration: underline;
}

.PDP_grid .PDP_grid-right .PDP_price-inventory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.PDP_grid .PDP_grid-right .PDP_description {
  margin: 12px 0;
}

.PDP_grid .PDP_grid-right .PDP_description > p,
.PDP_grid .PDP_grid-right .PDP_description .Rte > p,
.PDP_grid .PDP_grid-right .PDP_description span {
  margin: 24px 0;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 600px) {
  .PDP_grid .PDP_grid-right .PDP_description > p,
  .PDP_grid .PDP_grid-right .PDP_description .Rte > p,
  .PDP_grid .PDP_grid-right .PDP_description span {
    font-size: 12px;
  }
}

.PDP_grid .PDP_grid-right .PDP_description a {
  font-family: Futura-PT-Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 600px) {
  .PDP_grid .PDP_grid-right .PDP_description a {
    font-size: 12px;
  }
}

.PDP_grid .PDP_grid-right .functional-fragrance-icon {
  position: static;
  width: 50px;
  height: 50px;
}

.PDP_grid .PDP_grid-right .PDP_swatches {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.PDP_grid .PDP_grid-right .PDP_color {
  width: 100%;
  font-size: 16px;
}

@media (max-width: 600px) {
  .PDP_grid .PDP_grid-right .PDP_color {
    font-size: 12px;
  }
}

.PDP_grid .PDP_grid-right .swatch_color-item {
  position: relative;
  display: block;
  width: 37px;
  height: 37px;
  display: block;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.PDP_grid .PDP_grid-right .swatch_color-item:hover > svg circle {
  stroke-dashoffset: 0;
}

.PDP_grid .PDP_grid-right .swatch_color-item img {
  pointer-events: none;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.PDP_grid .PDP_grid-right .swatch_color-item svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  pointer-events: none;
}

.PDP_grid .PDP_grid-right .swatch_color-item svg circle {
  stroke: #909090;
  stroke-width: 1px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset .4s ease-in-out;
  transition: stroke-dashoffset .4s ease-in-out;
  stroke-dasharray: 82;
  stroke-dashoffset: 82;
}

.PDP_grid .PDP_grid-right .PDP__cart-submit {
  font-family: Futura-PT-Medium, sans-serif;
  font-size: 16px;
  text-align: center;
  width: 100%;
  text-transform: lowercase;
  border-radius: 30px;
  height: 40px;
  color: #111;
  background-color: #ebbaa3;
  display: block;
  line-height: 40px;
  z-index: 50;
}

.PDP_grid .PDP_grid-right #SI_trigger {
  display: none !important;
}

.PDP_grid .c-accordian__menu .accordian__menu_items {
  max-width: 100%;
}

.PDP_message-reveal {
  overflow: hidden;
}

.PDP_message-reveal .PDP_bulk_message {
  font-size: 16px;
  font-family: "Futura-PT-Medium";
  color: #d58778;
  margin: 9px 0;
  text-align: center;
  -webkit-transform: translate(0px, -60px);
          transform: translate(0px, -60px);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  padding: 5px 0;
}

.PDP_message-reveal .PDP_error_message {
  font-size: 16px;
  font-family: "Futura-PT-Medium";
  color: #d58778;
  text-align: center;
  -webkit-transform: translate(0px, -50px);
          transform: translate(0px, -50px);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease;
  line-height: 30px;
}

.PDP-btn-sticky {
  position: fixed;
  bottom: 15px;
  width: 100%;
  max-width: 400px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.PDP__and_Quickview-bottom-content {
  font-size: 16px;
  font-family: Futura-PT-Light;
  text-align: center;
  width: 100%;
  max-width: 375px;
  margin: auto;
}

.PDP__and_Quickview-bottom-content p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 21px;
  font-size: 16px;
  color: #222222;
}

.PDP__and_Quickview-bottom-content p:nth-child(1)::before {
  display: inline-block;
  font-size: inherit;
  overflow: visible;
  margin-right: 8px;
  content: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2213%22%20fill%3D%22none%22%20viewBox%3D%220%200%2011%2013%22%3E%0A%20%20%3Cpath%20fill%3D%22%23EC9E85%22%20fill-rule%3D%22evenodd%22%20d%3D%22M3.231%202.8L2.393.91c-.082-.187-.043-.405.13-.513.374-.234%201.012-.484%201.632-.365.432.083.73.216%201.01.341.381.17.731.326%201.345.326.173%200%20.323-.028.46-.054.237-.045.433-.081.63.054.292.202-.105.977-.46%201.673-.076.149-.15.294-.215.43H3.23zm1.385.924H3.023C1.998%204.855-.087%207.467.003%209.397c.097%202.1%201.734%202.636%203.02%202.636H7.133c1.286%200%202.923-.536%203.02-2.636.09-1.93-1.995-4.542-3.02-5.673H4.616z%22%20clip-rule%3D%22evenodd%22%2F%3E%0A%3C%2Fsvg%3E);
}

.PDP__and_Quickview-bottom-content .m-fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 11px;
  font-family: Futura-PT-Medium;
}

.PDP__and_Quickview-bottom-content .m-fav .swym-button.swym-add-to-wishlist-view-product:not(.swym-loaded) {
  display: block !important;
}

.PDP__and_Quickview-bottom-content .m-fav span {
  margin-left: 14px;
  padding-top: 3px;
}

.showNewImg {
  -webkit-animation: imgOpacity .35s ease forwards;
          animation: imgOpacity .35s ease forwards;
}

@-webkit-keyframes imgOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes imgOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*** ADD TO PDP.scss CSS WHEN AVAILABLE ***/
.PDP-icon-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 15px;
}

.PDP-icon-content b {
  font-family: Futura-PT-Medium;
  display: block;
}

.PDP-icon-content a {
  margin-right: 15px;
}

.PDP-icon-content img {
  width: 40px;
  min-width: 40px;
  margin-top: 3px;
  margin-right: 17px;
}

/* 
    Flyout / Dialog 
*/
.Dialog {
  position: absolute;
  z-index: 100;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  pointer-events: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

@media (max-width: 500px) {
  .Dialog {
    padding: 0 10px;
    width: 100%;
  }
}

.Dialog .Dialog__inner {
  opacity: 0;
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  -webkit-transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  transition: opacity 0.6s cubic-bezier(0.25, 1, 0.5, 1);
  -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.03);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.03);
}

@media (max-width: 600px) {
  .Dialog .Dialog__inner {
    padding: 12px;
  }
}

.Dialog .Dialog__layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  border-radius: 19px;
}

.Dialog .Dialog__title {
  font-size: 10px;
  color: black;
  font-weight: 600;
  text-transform: uppercase;
}

.Dialog .Dialog__arrow {
  display: block;
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top: 28px solid #fff;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.03);
  box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.03);
}

.Dialog .--bottom {
  opacity: 1;
  -webkit-transform: translate(-50%, -15%) rotate(0deg);
          transform: translate(-50%, -15%) rotate(0deg);
  top: 100%;
  -webkit-transition: top 0.3s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.4s cubic-bezier(0.31, 1.4, 0.64, 1);
  transition: top 0.3s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.4s cubic-bezier(0.31, 1.4, 0.64, 1);
  transition: top 0.3s ease, transform 0.4s cubic-bezier(0.31, 1.4, 0.64, 1), opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  transition: top 0.3s ease, transform 0.4s cubic-bezier(0.31, 1.4, 0.64, 1), opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.4s cubic-bezier(0.31, 1.4, 0.64, 1);
}

.Dialog .--top {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  top: -10px;
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), top 0.3s cubic-bezier(0.31, 1.4, 0.64, 1), -webkit-transform 0.4s ease;
  transition: opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), top 0.3s cubic-bezier(0.31, 1.4, 0.64, 1), -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), top 0.3s cubic-bezier(0.31, 1.4, 0.64, 1);
  transition: transform 0.4s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), top 0.3s cubic-bezier(0.31, 1.4, 0.64, 1), -webkit-transform 0.4s ease;
}

.Dialog .--left {
  opacity: 1;
  left: 2%;
  -webkit-transform: translate(-100%, -50%) rotate(90deg);
          transform: translate(-100%, -50%) rotate(90deg);
  -webkit-transition: opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), left 0.3s cubic-bezier(0.31, 1.4, 0.64, 1), -webkit-transform 0.4s ease;
  transition: opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), left 0.3s cubic-bezier(0.31, 1.4, 0.64, 1), -webkit-transform 0.4s ease;
  transition: transform 0.4s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), left 0.3s cubic-bezier(0.31, 1.4, 0.64, 1);
  transition: transform 0.4s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), left 0.3s cubic-bezier(0.31, 1.4, 0.64, 1), -webkit-transform 0.4s ease;
}

.Dialog .--right {
  -webkit-transition: left 0.35s cubic-bezier(0.31, 1.4, 0.64, 1), opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.3s ease;
  transition: left 0.35s cubic-bezier(0.31, 1.4, 0.64, 1), opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.3s ease;
  transition: left 0.35s cubic-bezier(0.31, 1.4, 0.64, 1), transform 0.3s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1);
  transition: left 0.35s cubic-bezier(0.31, 1.4, 0.64, 1), transform 0.3s ease, opacity 0.3s cubic-bezier(0, 0.55, 0.45, 1), -webkit-transform 0.3s ease;
  opacity: 1;
  left: 100%;
  -webkit-transform: translate(-20%, -50%) rotate(270deg);
          transform: translate(-20%, -50%) rotate(270deg);
}

.Dialog__values {
  padding: 22px 25px 20px 30px;
  overflow: auto;
  background: #F9F7F2;
  border-radius: 22px;
  width: 210px;
  max-height: 300px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out;
}

@media (min-width: 768px) {
  .Dialog__values {
    font-size: 14px;
  }
}

@media (max-width: 600px) {
  .Dialog__values {
    padding: 10px 15px 10px 20px;
    max-height: 265px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.Dialog__values .PDP_flyout-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-weight: 100;
}

.Dialog__values p {
  max-height: 50px;
  overflow-y: scroll;
}

.Dialog__inputs {
  padding: 3px 15px 20px 30px;
  overflow-y: scroll;
  max-height: 300px;
}

@media (max-width: 600px) {
  .Dialog__inputs {
    max-height: 265px;
    padding: 5px 15px 10px 20px;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.Dialog__inputs::-webkit-scrollbar {
  height: 17px;
  background-color: #fbfbfb;
  border-radius: 7px;
}

.Dialog__inputs::-webkit-scrollbar-track {
  background-color: transparent;
}

.Dialog__inputs::-webkit-scrollbar-thumb {
  background-color: #d2d2d2;
  border-radius: 15px;
  border: 4px solid transparent;
  background-clip: content-box;
}

.Dialog__inputs::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media (min-width: 500px) {
  .Dialog__inputs::-webkit-scrollbar-thumb {
    background-color: #eeeeee;
  }
  .Dialog__inputs::-webkit-scrollbar {
    background-color: #fff;
  }
}

.Dialog_list li {
  position: relative;
  list-style: none;
  text-align: left;
  height: 30px;
  white-space: nowrap;
  font-family: Futura-PT-Light;
}

@media (max-width: 600px) {
  .Dialog_list li label {
    font-size: 12px;
  }
}

.Dialog_list li .Dialog_input:not(.kit):hover ~ svg {
  -webkit-transform: translate(-20px);
          transform: translate(-20px);
  opacity: 1;
}

.Dialog_list li svg {
  position: absolute;
  left: 0;
  top: calc(50% - 9px);
  opacity: 0;
  -webkit-transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, -webkit-transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out;
  transition: opacity .3s ease-in-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.Dialog_input {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.Dialog_label {
  width: 100%;
  height: 100%;
}

.Dialog_label[for="default"] {
  font-size: 16px;
  text-transform: capitalize;
}

/* For Dialog */
.ProductForm__Label {
  font-family: "Futura-PT-Medium";
  text-transform: lowercase;
  letter-spacing: .05em;
}

.ProductForm__Label--Level span.bl-space {
  padding: 0 5px;
}

.ProductForm__Label--Level .bl1-2, .ProductForm__Label--Level .bl3-5, .ProductForm__Label--Level .bl1-3 {
  border: 1px solid #222;
  border-radius: 30px;
  padding: 0px 0 0px 3px;
}

/* 
    END Flyout / Dialog 
*/
.yotpo-selling-plans-wrapper .yotpo-selling-plans {
  display: none !important;
}

/* START phone input */
.iti--container {
  top: 45% !important;
  width: 300px;
  margin: 0 auto;
  max-height: 250px;
}

/* END phone input */
