.swym-ui-component * {
  font-family: Futura-PT-Light !important;
  font-size: 16px !important;
  color: #222 !important;
  text-transform: lowercase !important;
}

.swym-ui-component.swym-wishlist-page {
  padding: 0 16px !important;
}

.swym-ui-component .swym-wishlist-container-title-bar {
  display: block !important;
}

.swym-ui-component .swym-user-login-status {
  margin-left: auto !important;
}

.swym-ui-component.swym-wishlist-page .swym-wishlist-container-title-bar .swym-wishlist-main-title {
  font-family: GT-Eesti, sans-serif !important;
  font-size: 90px !important;
  letter-spacing: 0.05em !important;
  line-height: 85px;
  text-align: center;
  color: #222 !important;
}

.swym-ui-component.swym-wishlist-page .swym-wishlist-container-title-bar .swym-wishlist-main-title:after {
  content: ".";
}

.swym-ui-component .swym-wishlist-grid {
  max-width: none !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item {
  border: none !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-image-wrapper {
  overflow: auto !important;
  height: auto !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-image-wrapper img {
  border-radius: 30px !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-title {
  font-family: GT-Eesti !important;
  text-transform: lowercase !important;
  letter-spacing: 0.05em !important;
  font-size: 16px !important;
  color: #222 !important;
  line-height: 23px !important;
  margin: 12px 0 6px !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-variant-title {
  margin: 0 0 6px !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-product-price {
  padding: 0 0 13px !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-add-to-cart-btn,
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-email-btn,
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-logged-in .swym-log-out-btn,
.swym-ui-component .swym-clear-wishlist-modal .swym-clear-wishlist-modal-dialog .swym-clear-wishlist-btn,
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-save-summary .swym-login-btn,
.swym-ui-component .swym-empty-wishlist-container .swym-empty-wishlist-continue-btn {
  font-family: Futura-PT-Medium !important;
  font-size: 16px !important;
  text-align: center !important;
  width: 100% !important;
  border-radius: 30px !important;
  height: 40px !important;
  color: #222 !important;
  background-color: #ebbaa3 !important;
  display: block !important;
  background: -webkit-gradient(linear, left top, right top, from(#ebbaa3), color-stop(40%, #ebbaa3), color-stop(80%, #d58778)) !important;
  background: linear-gradient(to right, #ebbaa3, #ebbaa3 40%, #d58778 80%) !important;
  background-size: 300% !important;
  -webkit-transition: background-position 0.25s ease-in, color 0.25s ease-in !important;
  transition: background-position 0.25s ease-in, color 0.25s ease-in !important;
  background-position: left !important;
}

.swym-ui-component .swym-wishlist-grid .swym-wishlist-item .swym-add-to-cart-btn:hover,
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-email-btn:hover,
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-logged-in .swym-log-out-btn:hover,
.swym-ui-component .swym-clear-wishlist-modal .swym-clear-wishlist-modal-dialog .swym-clear-wishlist-btn:hover,
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-save-summary .swym-login-btn:hover,
.swym-ui-component .swym-empty-wishlist-container .swym-empty-wishlist-continue-btn:hover {
  background-position: right !important;
  color: #fff !important;
}

.swym-ui-component .swym-empty-wishlist-container .swym-empty-wishlist-continue-btn {
  max-width: 280px !important;
}

.swym-ui-component .swym-modal-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(184, 105, 91, 0.8)), to(rgba(236, 158, 133, 0.8))) !important;
  background: linear-gradient(180deg, rgba(184, 105, 91, 0.8) 0%, rgba(236, 158, 133, 0.8) 100%) !important;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out !important;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out !important;
}

.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog,
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog,
.swym-ui-component .swym-clear-wishlist-modal .swym-clear-wishlist-modal-dialog {
  border-radius: 30px !important;
}

.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-text-heading {
  font-family: Futura-PT-Medium !important;
  font-size: 16px !important;
}

.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-share-wishlist-email,
.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-share-wishlist-name {
  border-radius: 30px !important;
  padding: 12px 16px !important;
}

.swym-ui-component .swym-share-wishlist-modal .swym-share-wishlist-modal-dialog .swym-share-wishlist-input-container .swym-share-wishlist-note {
  border-radius: 30px !important;
  height: 80px !important;
  padding: 16px !important;
}

.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-text-heading {
  font-family: Futura-PT-Medium !important;
  font-size: 16px !important;
}

.swym-ui-component .swym-clear-wishlist-modal .swym-clear-wishlist-modal-dialog .swym-cancel-clear-wishlist-btn,
.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-save-summary .swym-save-list-btn {
  border: none !important;
  text-decoration: underline !important;
}

.swym-ui-component .swym-save-wishlist-modal .swym-save-wishlist-modal-dialog .swym-logged-in .swym-back-btn {
  text-decoration: underline !important;
}

.swym-ui-component .swym-wishlist-context-menu .swym-wishlist-context-menu-bg {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(184, 105, 91, 0.8)), to(rgba(236, 158, 133, 0.8))) !important;
  background: linear-gradient(180deg, rgba(184, 105, 91, 0.8) 0%, rgba(236, 158, 133, 0.8) 100%) !important;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out !important;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out !important;
}

@media only screen and (max-width: 900px) {
  .swym-ui-component .swym-simple-wishlist-container .swym-wishlist-container-title-bar .swym-wishlist-main-title {
    display: block !important;
    font-size: 32px !important;
  }
  .swym-ui-component .swym-simple-wishlist-container .swym-wishlist-container-title-bar .swym-user-login-status {
    right: 0 !important;
  }
  .swym-ui-component .swym-simple-wishlist-container .swym-wishlist-detail .swym-wishlist-main-title {
    display: none !important;
  }
  .swym-ui-component .swym-wishlist-grid .swym-wishlist-image-wrapper {
    max-height: none !important;
  }
}
